<a href="https://colab.research.google.com/github/Yohanes213/Kaggle/blob/main/Hosing_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [ ]:
house_data = pd.read_csv('train.csv')

In [ ]:
print(house_data.head())

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]

In [ ]:
features = ['Id',
'MSSubClass' ,
'LotArea',
'OverallQual',
'OverallCond',
'YearBuilt',
'YearRemodAdd',
'1stFlrSF',
'2ndFlrSF',
'LowQualFinSF',
'GrLivArea',
'FullBath',
'HalfBath',
'BedroomAbvGr',
'KitchenAbvGr',
'TotRmsAbvGrd',
'Fireplaces',
'WoodDeckSF',
'OpenPorchSF',
'EnclosedPorch',
'3SsnPorch',
'ScreenPorch',
'PoolArea',
'MiscVal',
'MoSold',
'YrSold']

In [ ]:
X = house_data[features]
print(X)

        Id  MSSubClass  LotArea  OverallQual  OverallCond  YearBuilt  \
0        1          60     8450            7            5       2003
1        2          20     9600            6            8       1976
2        3          60    11250            7            5       2001
3        4          70     9550            7            5       1915
4        5          60    14260            8            5       2000
...    ...         ...      ...          ...          ...        ...
1455  1456          60     7917            6            5       1999
1456  1457          20    13175            6            6       1978
1457  1458          70     9042            7            9       1941
1458  1459          20     9717            5            6       1950
1459  1460          20     9937            5            6       1965

      YearRemodAdd  1stFlrSF  2ndFlrSF  LowQualFinSF  ...  Fireplaces  \
0             2003       856       854             0  ...           0
1             1976      1262         0             0  ...           1
2             2002       920       866             0  ...           1
3             1970       961       756             0  ...           1
4             2000      1145      1053             0  ...           1
...            ...       ...       ...           ...  ...         ...
1455          2000       953       694             0  ...           1
1456          1988      2073         0             0  ...           2
1457          2006      1188      1152             0  ...           2
1458          1996      1078         0             0  ...           0
1459          1965      1256         0             0  ...           0

      WoodDeckSF  OpenPorchSF  EnclosedPorch  3SsnPorch  ScreenPorch  \
0              0           61              0          0            0
1            298            0              0          0            0
2              0           42              0          0            0
3              0           35            272          0            0
4            192           84              0          0            0
...          ...          ...            ...        ...          ...
1455           0           40              0          0            0
1456         349            0              0          0            0
1457           0           60              0          0            0
1458         366            0            112          0            0
1459         736           68              0          0            0

      PoolArea  MiscVal  MoSold  YrSold
0            0        0       2    2008
1            0        0       5    2007
2            0        0       9    2008
3            0        0       2    2006
4            0        0      12    2008
...        ...      ...     ...     ...
1455         0        0       8    2007
1456         0        0       2    2010
1457         0     2500       5    2010
1458         0        0       4    2010
1459         0        0       6    2008

[1460 rows x 26 columns]

In [ ]:
y = house_data.SalePrice
print(y)
print(y.shape)

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64
(1460,)

In [ ]:
X_train , X_val , y_train , y_val = train_test_split(X , y , random_state = 1)

In [ ]:
rf_model = RandomForestRegressor(random_state = 1)
rf_model.fit(X_train , y_train)

RandomForestRegressor(random_state=1)

In [ ]:
print(X_train.shape , y_train.shape)

(1095, 26) (1095,)

In [ ]:
prediction = rf_model.predict(X_val)
rf_mae = mean_absolute_error(prediction , y_val)

In [ ]:
print(rf_mae)

17707.70087671233

In [ ]:
test_data = pd.read_csv('test.csv')

In [ ]:
print(test_data.head())
print(test_data.shape)

     Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0  1461          20       RH         80.0    11622   Pave   NaN      Reg
1  1462          20       RL         81.0    14267   Pave   NaN      IR1
2  1463          60       RL         74.0    13830   Pave   NaN      IR1
3  1464          60       RL         78.0     9978   Pave   NaN      IR1
4  1465         120       RL         43.0     5005   Pave   NaN      IR1

  LandContour Utilities  ... ScreenPorch PoolArea PoolQC  Fence MiscFeature  \
0         Lvl    AllPub  ...         120        0    NaN  MnPrv         NaN
1         Lvl    AllPub  ...           0        0    NaN    NaN        Gar2
2         Lvl    AllPub  ...           0        0    NaN  MnPrv         NaN
3         Lvl    AllPub  ...           0        0    NaN    NaN         NaN
4         HLS    AllPub  ...         144        0    NaN    NaN         NaN

  MiscVal MoSold  YrSold  SaleType  SaleCondition
0       0      6    2010        WD         Normal
1   12500      6    2010        WD         Normal
2       0      3    2010        WD         Normal
3       0      6    2010        WD         Normal
4       0      1    2010        WD         Normal

[5 rows x 80 columns]
(1459, 80)

In [ ]:
test_data = test_data[features]
test_data.shape

(1459, 26)

In [ ]:
test_data.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,LowQualFinSF,...,Fireplaces,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1461,20,11622,5,6,1961,1961,896,0,0,...,0,140,0,0,0,120,0,0,6,2010
1,1462,20,14267,6,6,1958,1958,1329,0,0,...,0,393,36,0,0,0,0,12500,6,2010
2,1463,60,13830,5,5,1997,1998,928,701,0,...,1,212,34,0,0,0,0,0,3,2010
3,1464,60,9978,6,6,1998,1998,926,678,0,...,1,360,36,0,0,0,0,0,6,2010
4,1465,120,5005,8,5,1992,1992,1280,0,0,...,0,0,82,0,0,144,0,0,1,2010

In [ ]:
prediction_test = rf_model.predict(test_data)

In [ ]:
prediction_test

array([122213.5 , 153752.5 , 171902.07, ..., 151836.37, 139381.1 ,
       231791.69])

In [ ]:
submission = test_data[['Id']]

In [ ]:
submission["SalePrice"] = prediction_test

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
submission

        Id  SalePrice
0     1461  122428.08
1     1462  151103.75
2     1463  170324.89
3     1464  185090.96
4     1465  196317.36
...    ...        ...
1454  2915   88183.40
1455  2916   83378.40
1456  2917  150570.00
1457  2918  133742.20
1458  2919  231642.98

[1459 rows x 2 columns]

In [ ]:
submission.to_csv('submission.csv' , index = None)

In [ ]:
pd.read_csv('submission.csv')

        Id  SalePrice
0     1461  122428.08
1     1462  151103.75
2     1463  170324.89
3     1464  185090.96
4     1465  196317.36
...    ...        ...
1454  2915   88183.40
1455  2916   83378.40
1456  2917  150570.00
1457  2918  133742.20
1458  2919  231642.98

[1459 rows x 2 columns]